:root {
    --hover-color: #FA4A0C;
    --text-color: #252B42;
    --title-color: #FFF;
}

body {
    font-family: "Montserrat";
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header .container {
    height: 150px;
    align-items: center;
}

.header__logo {
    background-image: url(./images/eats.png);
}

.header__nav {
    display: flex;
    justify-content: center;
    gap: 94px;
}

.header__nav-item {
    text-align: center;
}

.header__nav-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.header__nav-link:hover,
:focus {
    color: var(--hover-color);
}

/* hero */

.hero {
    background-color: gray;
    height: 600px;
}

.hero__list {
    display: flex;
}

.subtitle {}

.title {}

.text {}

/* function */

.function {}

.function__list {}

.function__list-item {}

.phone1 {}

.function__subtitle {}

.function__title {}

.function__text {}

.function__nav-item {}

.phone2 {}

/* order */

.order {}

.order__title {}

.order__text {}

/* footer */

.footer {}